<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_before">
        <observer name="orderBeforeSaveObserver" instance="Rayms\OrderEventsBroadCaster\Observer\OrderBeforeSaveObserver" />
    </event>
    <event name="sales_order_save_after">
        <observer name="orderAfterSaveObserver" instance="Rayms\OrderEventsBroadCaster\Observer\OrderAfterSaveObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="orderPlacedObserver" instance="Rayms\OrderEventsBroadCaster\Observer\OrderPlacedObserver" />
    </event>
</config>
