<?xml version="1.0"?>
<config>
    <modules>
        <Rayms_OrderEventsBroadcaster>
            <version>1.0</version>
        </Rayms_OrderEventsBroadcaster>
    </modules>
     <global>
        <helpers>
            <rayms_ordereventsbroadcaster>
                <class>Rayms_OrderEventsBroadcaster_Helper</class>
            </rayms_ordereventsbroadcaster>
        </helpers>
        <models>
            <rayms_ordereventsbroadcaster_model>
                <class>Rayms_OrderEventsBroadcaster_Model</class>
                <resourceModel>ordereventsbroadcaster_address</resourceModel>
                <resourceModel>ordereventsbroadcaster_orderbroadcast</resourceModel>
            </rayms_ordereventsbroadcaster_model>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <rayms_ordereventsbroadcaster_model_observer>
                        <type>singleton</type>
                        <class>Rayms_OrderEventsBroadcaster_Model_Observer</class>
                        <method>broadCastForOrderChanges</method>
                    </rayms_ordereventsbroadcaster_model_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <default>
        <order_events_broadcaster>
            <general>
                <status_mode>Test</status_mode>
                <secret_key></secret_key>
            </general>
        </order_events_broadcaster>
    </default>
</config>